
@import url(./font-face.css);
@import url(./typography.css);

html,
body {
  padding: 0;
  margin: 0;
  font: 100%/1.75 'Merriweather','Georgia',serif;
}

* {
  box-sizing: inherit;
}

#body.light {
  --bg: var(--white);
  --bg-secondary: #f9fafb;
  --header: var(--pink);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #d23669;
  --hr: rgba(0, 0, 0, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
  --form-shadow: 0 2px 15px 0 rgba(210, 214, 220, 0.5);
}

#body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #282c35;
  --bg-secondary: #363c48;
  --header: var(--white);
  --textNormal: hsla(0, 0%, 100%, 0.88);
  --textTitle: var(--white);
  --textLink: var(--pink);
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: rgba(115, 124, 153, 0.2);
  --inlineCode-text: #e6e6e6;
  --form-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
}

body {
  --pink: #ffa7c4;
  --black: #000;
  --white: #fff;
  background-color: var(--bg);

  color: hsla(0,0%,0%,0.9);
  font-family: 'Merriweather','Georgia',serif;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
}
