.container {
  color: var(--textNormal);
  background: var(--bg);
  transition: color 0.2s ease-out, background 0.2s ease-out;
  min-height: 100vh;
}

.layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.625rem;
}

.header h1 {
  font-size: 1.98818rem;
  line-height: 2.625rem;
  margin-bottom: 0;
  margin-top: 0;
}

.title-link {
  box-shadow: none;
  text-decoration: none;
  color: var(--textTitle);
}
